/public/storage
/vend*
/.idea
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
database/migrations/
public/vendor/
.buildpath
.project
.settings/
packages/
public/common/
public/css/
public/js/
node_modules/
.DS_Store
.env
