/vend*
/.idea
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
/public/storage
public/vendor/
public/plugins/
public/img/
public/fonts/
public/common/
public/css/
public/js/
.buildpath
.project
.settings/
packages/
node_modules/
.DS_Store
.env
bower_components/
